<div class="navtop container-fluid">
    <div class="container">
        <div class="hotline">
            <div class="row justify-content-between">
                <div class="col-xl-4 col-lg-4">
                    <div class="hotline-left">
                        <a class="barrier" href="channel-sell">Kênh Người Bán</a>
                        <a class="barrier" href="">Tải Ứng Dụng</a>
                        <span>Kết nối</span>
                        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="hotline-right">
                        <a href=""><i class="fa fa-bell" aria-hidden="true"></i> Thông Báo</a>
                        <a href=""><i class="fa fa-question" aria-hidden="true"></i> Trợ Giúp</a>
                        <a class="sign-up barrier" href="">Đăng Ký</a>
                        <a class="sign-in" href="">Đăng Nhập</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-nav">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="logo">
                        <a href="/"><img src="/images/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 menu">
                    <div class="menu-search">
                        <form action="all-product-search" class="input-group">
                            <label for="search"></label>
                            <input type="search" name="search" class="form-control" placeholder="Bạn cần tìm ...">
                            <div class="input-group-append">
                                <button class="btn" type="submit">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="menu-list">
                        <a href="">Sandal Nữ</a>
                        <a href="">Hoodie Nam</a>
                        <a href="">Dép Nam</a>
                        <a href="">Balo Nữ</a>
                        <a href="">Áo Nữ</a>
                        <a href="">Quần Nam</a>
                        <a href="">Váy Trắng</a>
                        <a href="">Quần Nữ</a>
                    </div>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1">
                    <div class="shopping-cart">
                        <a href=""><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>