<div class="menu-channel-sell container-fluid">
    <div class="row justify-content-between menu">
        <div class="col-xl-4 brand">
            <div class="logo">
                <a href="/"><img src=".././images/logo.png" alt=""></a>
            </div>
            <div class="logo-title">
                <a href="">Kênh Người Bán</a>
            </div>
        </div>
        <div class="col-xl-4 right">
            <div class="user">
                <a href="#" data-toggle="popover" data-placement="bottom" data-html="true" data-content="<li><a href=''>Hồ Sơ Shop</a></li><li><a href=''>Đăng Xuất</a></li>"><i class="fa fa-user-circle" aria-hidden="true"></i>VyTrinh</a>
            </div>
            <div class="icon">
                <div class="icon-item"><a href=""><i class="fa fa-bars" aria-hidden="true"></i></a></div>
                <div class="icon-item"><a href=""><i class="fa fa-bell" aria-hidden="true"></i></a></div>
            </div>
            <div class="btn-link-item">
                <a href="">SHOPEE UNI</a>
            </div>
        </div>
    </div>
</div>