<div class="col-xl-2 col-lg-2 col-md-2 container-sidebar">
    <div class="sidebar">
        <div class="sidebar-item">
            <div class="header" id="btn-show-hide-1">
                <div class="left">
                    <div class="sidebar-image">
                        <img src="/icons/truck.png" alt="">
                    </div>
                    <div class="title">
                        <p>Vận Chuyển</p>
                    </div>
                </div>
                <div class="right">
                    <i class="fa fa-chevron-up" id="chevron-down-1" aria-hidden="true"></i>
                </div>
            </div>
            <div class="link-item" id="link-item-1">
                <a href="">Quản Lý Vận Chuyển</a>
                <a href="">Giao Hàng Loạt</a>
                <a href="">Cài Đặt Vận Chuyển</a>
            </div>
        </div>
        <div class="sidebar-item">
            <div class="header" id="btn-show-hide-2">
                <div class="left">
                    <div class="sidebar-image">
                        <img src="/icons/manage-bill.png" alt="">
                    </div>
                    <div class="title">
                        <p>Quản Lý Đơn Hàng</p>
                    </div>
                </div>
                <div class="right">
                    <i class="fa fa-chevron-up" id="chevron-down-2" aria-hidden="true"></i>
                </div>
            </div>
            <div class="link-item" id="link-item-2">
                <a href="">Tất Cả</a>
                <a href="">Đơn Hủy</a>
                <a href="">Trả Hàng / Hoàn Tiền</a>
            </div>
        </div>
        <div class="sidebar-item">
            <div class="header" id="btn-show-hide-3">
                <div class="left">
                    <div class="sidebar-image">
                        <img src="/icons/manage-prod.png" alt="">
                    </div>
                    <div class="title">
                        <p>Quản Lý Sản Phẩm</p>
                    </div>
                </div>
                <div class="right">
                    <i class="fa fa-chevron-up" id="chevron-down-3" aria-hidden="true"></i>
                </div>
            </div>
            <div class="link-item" id="link-item-3">
                <a href="channel-sell-mnbill-all">Tất Cả Sản Phẩm</a>
                <a href="add">Thêm Sản Phẩm</a>
                <a href="">Sản Phẩm Vi Phạm</a>
            </div>
        </div>
        <div class="sidebar-item">
            <div class="header" id="btn-show-hide-4">
                <div class="left">
                    <div class="sidebar-image">
                        <img src="/icons/marketing.png" alt="">
                    </div>
                    <div class="title">
                        <p>Kênh Marketing</p>
                    </div>
                </div>
                <div class="right">
                    <i class="fa fa-chevron-up" id="chevron-down-4" aria-hidden="true"></i>
                </div>
            </div>
            <div class="link-item" id="link-item-4">
                <a href="">Kênh Marketing</a>
                <a href="">Quảng Cáo Shopee</a>
            </div>
        </div>
        <div class="sidebar-item">
            <div class="header" id="btn-show-hide-5">
                <div class="left">
                    <div class="sidebar-image">
                        <img src="/icons/finance.png" alt="">
                    </div>
                    <div class="title">
                        <p>Tài Chính</p>
                    </div>
                </div>
                <div class="right">
                    <i class="fa fa-chevron-up" id="chevron-down-5" aria-hidden="true"></i>
                </div>
            </div>
            <div class="link-item" id="link-item-5">
                <a href="">Doanh Thu</a>
                <a href="">Ví Shopee</a>
                <a href="">Tài Khoản Ngân Hàng</a>
                <a href="">Thiêt Lập Thanh Toán</a>
            </div>
        </div>
        <div class="sidebar-item">
            <div class="header" id="btn-show-hide-6">
                <div class="left">
                    <div class="sidebar-image">
                        <img src="/icons/data.png" alt="">
                    </div>
                    <div class="title">
                        <p>Dữ Liệu</p>
                    </div>
                </div>
                <div class="right">
                    <i class="fa fa-chevron-up" id="chevron-down-6" aria-hidden="true"></i>
                </div>
            </div>
            <div class="link-item" id="link-item-6">
                <a href="">Phân Tích Bán Hàng</a>
                <a href="">Hiệu Quả Hoạt Động</a>
                <a href="">Shop Yêu Thích</a>
            </div>
        </div>
        <div class="sidebar-item">
            <div class="header" id="btn-show-hide-7">
                <div class="left">
                    <div class="sidebar-image">
                        <img src="/icons/care-customer.png" alt="">
                    </div>
                    <div class="title">
                        <p>Chăm Sóc Khách Hàng</p>
                    </div>
                </div>
                <div class="right">
                    <i class="fa fa-chevron-up" id="chevron-down-7" aria-hidden="true"></i>
                </div>
            </div>
            <div class="link-item" id="link-item-7">
                <a href="">Trợ Lý Chat</a>
            </div>
        </div>
        <div class="sidebar-item">
            <div class="header" id="btn-show-hide-8">
                <div class="left">
                    <div class="sidebar-image">
                        <img src="/icons/manage-shop.png" alt="">
                    </div>
                    <div class="title">
                        <p>Quản Lý Shop</p>
                    </div>
                </div>
                <div class="right">
                    <i class="fa fa-chevron-up" id="chevron-down-8" aria-hidden="true"></i>
                </div>
            </div>
            <div class="link-item" id="link-item-8">
                <a href="">Đánh Giá Shop</a>
                <a href="">Hồ Sơ Shop</a>
                <a href="">Trang Trí Shop</a>
                <a href="">Danh Mục Của Shop</a>
                <a href="">Báo Cáo Của Tôi</a>
            </div>
        </div>
        <div class="sidebar-item">
            <div class="header" id="btn-show-hide-9">
                <div class="left">
                    <div class="sidebar-image">
                        <img src="/icons/setting-shop.png" alt="">
                    </div>
                    <div class="title">
                        <p>Thiết Lập Shop</p>
                    </div>
                </div>
                <div class="right">
                    <i class="fa fa-chevron-up" id="chevron-down-9" aria-hidden="true"></i>
                </div>
            </div>
            <div class="link-item" id="link-item-9">
                <a href="">Địa Chỉ</a>
                <a href="">Thiết Lập Shop</a>
                <a href="">Tài Khoản</a>
            </div>
        </div>
    </div>
</div>