<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoppee</title>
    <%- include('partials/head') %>
</head>


<body>
    <div class="navtop container-fluid">
        <div class="container">
            <div class="hotline">
                <div class="row justify-content-between">
                    <div class="col-xl-4 col-lg-4">
                        <div class="hotline-left">
                            <a class="barrier" href="channel-sell">Kênh Người Bán</a>
                            <a class="barrier" href="">Tải Ứng Dụng</a>
                            <span>Kết nối</span>
                            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="hotline-right">
                            <a href=""><i class="fa fa-bell" aria-hidden="true"></i> Thông Báo</a>
                            <a href=""><i class="fa fa-question" aria-hidden="true"></i> Trợ Giúp</a>
                            <a class="sign-up barrier" href="">Đăng Ký</a>
                            <a class="sign-in" href="">Đăng Nhập</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-nav">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3">
                        <div class="logo">
                            <img src="/images/logo.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 menu">
                        <div class="menu-search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Bạn cần tìm ...">
                                <div class="input-group-append">
                                    <button class="btn" type="button">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="menu-list">
                            <a href="">Sandal Nữ</a>
                            <a href="">Hoodie Nam</a>
                            <a href="">Dép Nam</a>
                            <a href="">Balo Nữ</a>
                            <a href="">Áo Nữ</a>
                            <a href="">Quần Nam</a>
                            <a href="">Váy Trắng</a>
                            <a href="">Quần Nữ</a>
                        </div>
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1">
                        <div class="shopping-cart">
                            <a href=""><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="body container-fluid">
        <div class="container">
            <div class="row slide-banner">
                <div class="col-xl-8 col-lg-8 slide">
                    <div class="swiper-container" dir="rtl">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href=""><img src="/images/slide5.jpg" alt=""></a>
                            </div>
                            <div class="swiper-slide">
                                <a href=""><img src="/images/slide1.jpg" alt=""></a>
                            </div>
                            <div class="swiper-slide">
                                <a href=""><img src="/images/slide2.jpg" alt=""></a>
                            </div>
                            <div class="swiper-slide">
                                <a href=""><img src="/images/slide3.png" alt=""></a>
                            </div>
                            <div class="swiper-slide">
                                <a href=""><img src="/images/slide4.jpg" alt=""></a>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                        <!-- Add Navigation -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 banner">
                    <div class="row">
                        <div class="col-xl-12 content">
                            <div class="content-image">
                                <a href=""><img src="/images/banner1.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-12 content">
                            <div class="content-image">
                                <a href=""><img src="/images/banner2.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="full-menu-banner">
                <div class="item">
                    <a href="">
                        <div class="image-item">
                            <img src="/images/homebanner1.gif" alt="">
                        </div>
                        <div class="info-item">
                            <p>Khung Giờ Săn Sale</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <div class="image-item">
                            <img src="/images/homebanner2.png" alt="">
                        </div>
                        <div class="info-item">
                            <p>Book Club - Giảm 50%</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <div class="image-item">
                            <img src="/images/homebanner3.png" alt="">
                        </div>
                        <div class="info-item">
                            <p>Freeship Xtra</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <div class="image-item">
                            <img src="/images/homebanner4.png" alt="">
                        </div>
                        <div class="info-item">
                            <p>Beauty Club - Mê Làm Đẹp</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <div class="image-item">
                            <img src="/images/homebanner5.png" alt="">
                        </div>
                        <div class="info-item">
                            <p>Hoàn Xu Đơn Bất Kỳ</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <div class="image-item">
                            <img src="/images/homebanner6.png" alt="">
                        </div>
                        <div class="info-item">
                            <p>Shopee Premium</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <div class="image-item">
                            <img src="/images/homebanner7.png" alt="">
                        </div>
                        <div class="info-item">
                            <p>Brand Discount</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <div class="image-item">
                            <img src="/images/homebanner8.png" alt="">
                        </div>
                        <div class="info-item">
                            <p>Shopee Mum's Club</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <div class="image-item">
                            <img src="/images/homebanner9.png" alt="">
                        </div>
                        <div class="info-item">
                            <p>Săn Siêu Sale</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <div class="image-item">
                            <img src="/images/homebanner10.png" alt="">
                        </div>
                        <div class="info-item">
                            <p>Tech Zone - Siêu Thị Điện Tử</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="full-banner">
                <img src="/images/full-banner.png" alt="">
            </div>

            <div class="categories-1">
                <div class="process-bar">
                    <div class="header">
                        <img src="/images/categories-1.jpg" alt="">
                    </div>
                    <div class="title">
                        <p>SẢN PHẨM BÁN CHẠY</p>
                        <a href="">Xêm Thêm ></a>
                    </div>
                    <div class="product row">
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 product-item">
                            <a href="">
                                <div class="product-image">
                                    <img src="/images/item-cate-1.jpg" alt="">
                                </div>
                                <div class="product-price">
                                    <p>₫115.000</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 product-item">
                            <a href="">
                                <div class="product-image">
                                    <img src="/images/item-cate-2.jpg" alt="">
                                </div>
                                <div class="product-price">
                                    <p>₫115.000</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 product-item">
                            <a href="">
                                <div class="product-image">
                                    <img src="/images/item-cate-3.jpg" alt="">
                                </div>
                                <div class="product-price">
                                    <p>₫115.000</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 product-item">
                            <a href="">
                                <div class="product-image">
                                    <img src="/images/item-cate-4.jpg" alt="">
                                </div>
                                <div class="product-price">
                                    <p>₫115.000</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 product-item">
                            <a href="">
                                <div class="product-image">
                                    <img src="/images/item-cate-5.jpg" alt="">
                                </div>
                                <div class="product-price">
                                    <p>₫115.000</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 product-item">
                            <a href="">
                                <div class="product-image">
                                    <img src="/images/item-cate-6.jpg" alt="">
                                </div>
                                <div class="product-price">
                                    <p>₫115.000</p>
                                </div>
                            </a>
                        </div>

                        <div class="bottom-cate-1">
                            <img src="/images/bottom-ctg-1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="categories-2">
                <div class="title">
                    <p>DANH MỤC</p>
                </div>
                <div class="product">
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-2-1.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Thời Trang Nam</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-2-2.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Điện Thoại & Phụ Kiện</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-2-3.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Thiết Bị Điện Tử</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-2-4.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Máy Tính & Laptop</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-2-5.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Máy Ảnh - Máy Quay Phim</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-2-6.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Đồng Hồ</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-2-7.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Dép Nam</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-2-8.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Thiết Bị Gia Dụng</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-2-9.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Thể Thao & Du Lịch</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-2-10.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Ô tô - Xe Máy - Xe Đạp</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-2-11.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Thời Trang Nữ</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-2-12.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Mẹ & Bé</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-2-13.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Nhà Cửa & ĐỜi Sống</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-2-14.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Sức Khỏe & Sắc Đẹp</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-2-15.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Giày Dép Nữ</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-2-16.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Túi Ví</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-2-17.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Phụ Kiện Thời Trang</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-2-18.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Bách Hóa Online</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-2-19.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Voucher & Du Lịch</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-2-20.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Nhà Sách Online</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="categories-3">
                <div class="title">
                    <div class="title-left">
                        <div class="title-image">
                            <img src="/images/cate-3.jpg" alt="">
                        </div>
                        <div class="title-time">
                            <span class="hours">02</span>
                            <span class="minutes">15</span>
                            <span class="seconds">33</span>
                        </div>
                    </div>
                    <div class="title-right">
                        <a href="">Xem tất cả ></a>
                    </div>
                </div>
                <div class="product">
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-3-1.jpg" alt="">
                            </div>
                            <div class="product-price">
                                <p>₫208.000</p>
                            </div>
                            <div class="product-bought">
                                <div class="ruler"></div>
                                <p>ĐÃ BÁN <span class="cost">10</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-3-2.jpg" alt="">
                            </div>
                            <div class="product-price">
                                <p>₫208.000</p>
                            </div>
                            <div class="product-bought">
                                <div class="ruler"></div>
                                <p>ĐÃ BÁN <span class="cost">1</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-3-3.jpg" alt="">
                            </div>
                            <div class="product-price">
                                <p>₫159.000</p>
                            </div>
                            <div class="product-bought">
                                <div class="ruler"></div>
                                <p>ĐÃ BÁN <span class="cost">29</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-3-4.jpg" alt="">
                            </div>
                            <div class="product-price">
                                <p>₫240.000</p>
                            </div>
                            <div class="product-bought">
                                <div class="ruler"></div>
                                <p>ĐÃ BÁN <span class="cost">5</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-3-5.jpg" alt="">
                            </div>
                            <div class="product-price">
                                <p>₫309.000</p>
                            </div>
                            <div class="product-bought">
                                <div class="ruler"></div>
                                <p>ĐÃ BÁN <span class="cost">0</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-3-6.jpg" alt="">
                            </div>
                            <div class="product-price">
                                <p>₫279.000</p>
                            </div>
                            <div class="product-bought">
                                <div class="ruler"></div>
                                <p>ĐÃ BÁN <span class="cost">2</span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="categories-4">
                <div class="banner-cate-4">
                    <div class="item">
                        <a href=""><img src="/images/cate-4-1.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a href=""><img src="/images/cate-4-2.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a href=""><img src="/images/cate-4-3.jpg" alt=""></a>
                    </div>
                </div>
            </div>

            <div class="categories-5">
                <div class="title">
                    <div class="title-left">
                        <div class="title-head">
                            <p>SHOPEE MALL</p>
                        </div>
                        <div class="title-info">
                            <div class="item">
                                <i class="fa fa-reply" aria-hidden="true"></i>
                                <p>Ngày Miễn Phí Trả Hàng</p>
                            </div>
                            <div class="item">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <p>Hàng Chính Hãng 100%</p>
                            </div>
                            <div class="item">
                                <i class="fa fa-truck" aria-hidden="true"></i>
                                <p>Miễn Phí Vận Chuyển</p>
                            </div>
                        </div>
                    </div>
                    <div class="title-right">
                        <a href="">Xem thêm ></a>
                    </div>
                </div>
                <div class="slide-product">
                    <div class="row">
                        <div class="left col-xl-4 col-lg-4 col-md-4">
                            <div class="swiper-container-1">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="">
                                            <img src="/images/cate-5-left-1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="">
                                            <img src="/images/cate-5-left-2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="">
                                            <img src="/images/cate-5-left-3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="">
                                            <img src="/images/cate-5-left-4.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <!-- Add Pagination -->
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                        <div class="right col-xl-8 col-lg-8 col-md-8">
                            <div class="swiper-container-2">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="product">
                                            <div class="product-item">
                                                <a href="">
                                                    <div class="product-image">
                                                        <img src="/images/cate-5-1.jpg" alt="">
                                                        <div class="product-intro">
                                                            <p>Sale cực đỉnh 1K</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-item">
                                                <a href="">
                                                    <div class="product-image">
                                                        <img src="/images/cate-5-2.jpg" alt="">
                                                        <div class="product-intro">
                                                            <p>Siêu sale đến 50%</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-item">
                                                <a href="">
                                                    <div class="product-image">
                                                        <img src="/images/cate-5-1.jpg" alt="">
                                                        <div class="product-intro">
                                                            <p>Sale cực đỉnh 1K</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-item">
                                                <a href="">
                                                    <div class="product-image">
                                                        <img src="/images/cate-5-3.jpg" alt="">
                                                        <div class="product-intro">
                                                            <p>Độc quyền deal xịn</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-item">
                                                <a href="">
                                                    <div class="product-image">
                                                        <img src="/images/cate-5-4.jpg" alt="">
                                                        <div class="product-intro">
                                                            <p>Ưu đãi đến 40%</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-item">
                                                <a href="">
                                                    <div class="product-image">
                                                        <img src="/images/cate-5-5.jpg" alt="">
                                                        <div class="product-intro">
                                                            <p>Mua 1 được 5</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-item">
                                                <a href="">
                                                    <div class="product-image">
                                                        <img src="/images/cate-5-6.jpg" alt="">
                                                        <div class="product-intro">
                                                            <p>Siêu ưu đãI từ 12k</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-item">
                                                <a href="">
                                                    <div class="product-image">
                                                        <img src="/images/cate-5-7.jpg" alt="">
                                                        <div class="product-intro">
                                                            <p>Da khỏe sạch mụn</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product">
                                            <div class="product-item">
                                                <a href="">
                                                    <div class="product-image">
                                                        <img src="/images/cate-5-1.jpg" alt="">
                                                        <div class="product-intro">
                                                            <p>Sale cực đỉnh 1K</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-item">
                                                <a href="">
                                                    <div class="product-image">
                                                        <img src="/images/cate-5-2.jpg" alt="">
                                                        <div class="product-intro">
                                                            <p>Siêu sale đến 50%</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-item">
                                                <a href="">
                                                    <div class="product-image">
                                                        <img src="/images/cate-5-1.jpg" alt="">
                                                        <div class="product-intro">
                                                            <p>Sale cực đỉnh 1K</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-item">
                                                <a href="">
                                                    <div class="product-image">
                                                        <img src="/images/cate-5-3.jpg" alt="">
                                                        <div class="product-intro">
                                                            <p>Độc quyền deal xịn</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-item">
                                                <a href="">
                                                    <div class="product-image">
                                                        <img src="/images/cate-5-4.jpg" alt="">
                                                        <div class="product-intro">
                                                            <p>Ưu đãi đến 40%</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-item">
                                                <a href="">
                                                    <div class="product-image">
                                                        <img src="/images/cate-5-5.jpg" alt="">
                                                        <div class="product-intro">
                                                            <p>Mua 1 được 5</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-item">
                                                <a href="">
                                                    <div class="product-image">
                                                        <img src="/images/cate-5-6.jpg" alt="">
                                                        <div class="product-intro">
                                                            <p>Siêu ưu đãI từ 12k</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-item">
                                                <a href="">
                                                    <div class="product-image">
                                                        <img src="/images/cate-5-7.jpg" alt="">
                                                        <div class="product-intro">
                                                            <p>Da khỏe sạch mụn</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product">
                                            <div class="product-item">
                                                <a href="">
                                                    <div class="product-image">
                                                        <img src="/images/cate-5-1.jpg" alt="">
                                                        <div class="product-intro">
                                                            <p>Sale cực đỉnh 1K</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-item">
                                                <a href="">
                                                    <div class="product-image">
                                                        <img src="/images/cate-5-2.jpg" alt="">
                                                        <div class="product-intro">
                                                            <p>Siêu sale đến 50%</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-item">
                                                <a href="">
                                                    <div class="product-image">
                                                        <img src="/images/cate-5-1.jpg" alt="">
                                                        <div class="product-intro">
                                                            <p>Sale cực đỉnh 1K</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-item">
                                                <a href="">
                                                    <div class="product-image">
                                                        <img src="/images/cate-5-3.jpg" alt="">
                                                        <div class="product-intro">
                                                            <p>Độc quyền deal xịn</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-item">
                                                <a href="">
                                                    <div class="product-image">
                                                        <img src="/images/cate-5-4.jpg" alt="">
                                                        <div class="product-intro">
                                                            <p>Ưu đãi đến 40%</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-item">
                                                <a href="">
                                                    <div class="product-image">
                                                        <img src="/images/cate-5-5.jpg" alt="">
                                                        <div class="product-intro">
                                                            <p>Mua 1 được 5</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-item">
                                                <a href="">
                                                    <div class="product-image">
                                                        <img src="/images/cate-5-6.jpg" alt="">
                                                        <div class="product-intro">
                                                            <p>Siêu ưu đãI từ 12k</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-item">
                                                <a href="">
                                                    <div class="product-image">
                                                        <img src="/images/cate-5-7.jpg" alt="">
                                                        <div class="product-intro">
                                                            <p>Da khỏe sạch mụn</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Add Pagination -->
                                <div class="swiper-pagination"></div>
                                <!-- Add Arrows -->
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="categories-6">
                <div class="title">
                    <div class="left">
                        <p>XU HƯỚNG TÌM KIẾM</p>
                    </div>
                    <div class="right">
                        <a href="">Xem thêm ></a>
                    </div>
                </div>
                <div class="product">
                    <div class="product-item">
                        <a href="">
                            <div class="product-info">
                                <p>Sandal Nữ</p>
                                <p><span class="count-cate-6">244+</span> sản phẩm</p>
                            </div>
                            <div class="product-image">
                                <img src="/images/cate-6-1.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-info">
                                <p>Hoodie Nam</p>
                                <p><span class="count-cate-6">244+</span> sản phẩm</p>
                            </div>
                            <div class="product-image">
                                <img src="/images/cate-6-2.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-info">
                                <p>Dép Nam</p>
                                <p><span class="count-cate-6">244+</span> sản phẩm</p>
                            </div>
                            <div class="product-image">
                                <img src="/images/cate-6-3.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-info">
                                <p>Balo Nữ</p>
                                <p><span class="count-cate-6">244+</span> sản phẩm</p>
                            </div>
                            <div class="product-image">
                                <img src="/images/cate-6-4.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-info">
                                <p>Áo Nữ</p>
                                <p><span class="count-cate-6">244+</span> sản phẩm</p>
                            </div>
                            <div class="product-image">
                                <img src="/images/cate-6-5.jpg" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="categories-8">
                <div class="title">
                    <p>GỢI Ý HÔM NAY</p>
                    <div class="title-image">
                        <img src="/images/cate-8.jpg" alt="">
                    </div>
                </div>
                <div class="product">
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-8-1.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Bông tẩy trang 222 miếng Lameila BTT222</p>
                            </div>
                            <div class="product-price">
                                <p class="price">₫19.000</p>
                                <p>Đã bán <span>136.1k</span></p>
                            </div>
                        </a>
                        <div class="see-more">
                            <p>Tìm sản phẩm tương tự</p>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-8-2.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Bông tẩy trang 222 miếng Lameila BTT222</p>
                            </div>
                            <div class="product-price">
                                <p class="price">₫19.000</p>
                                <p>Đã bán <span>136.1k</span></p>
                            </div>
                        </a>
                        <div class="see-more">
                            <p>Tìm sản phẩm tương tự</p>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-8-3.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Bông tẩy trang 222 miếng Lameila BTT222</p>
                            </div>
                            <div class="product-price">
                                <p class="price">₫192.000</p>
                                <p>Đã bán <span>1.1k</span></p>
                            </div>
                        </a>
                        <div class="see-more">
                            <p>Tìm sản phẩm tương tự</p>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-8-4.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Bông tẩy trang 222 miếng Lameila BTT222</p>
                            </div>
                            <div class="product-price">
                                <p class="price">₫19.000</p>
                                <p>Đã bán <span>136.1k</span></p>
                            </div>
                        </a>
                        <div class="see-more">
                            <p>Tìm sản phẩm tương tự</p>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-8-5.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Bông tẩy trang 222 miếng Lameila BTT222</p>
                            </div>
                            <div class="product-price">
                                <p class="price">₫19.000</p>
                                <p>Đã bán <span>136.1k</span></p>
                            </div>
                        </a>
                        <div class="see-more">
                            <p>Tìm sản phẩm tương tự</p>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-8-6.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Bông tẩy trang 222 miếng Lameila BTT222</p>
                            </div>
                            <div class="product-price">
                                <p class="price">₫19.000</p>
                                <p>Đã bán <span>136.1k</span></p>
                            </div>
                        </a>
                        <div class="see-more">
                            <p>Tìm sản phẩm tương tự</p>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-8-7.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Bông tẩy trang 222 miếng Lameila BTT222</p>
                            </div>
                            <div class="product-price">
                                <p class="price">₫19.000</p>
                                <p>Đã bán <span>136.1k</span></p>
                            </div>
                        </a>
                        <div class="see-more">
                            <p>Tìm sản phẩm tương tự</p>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-8-8.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Bông tẩy trang 222 miếng Lameila BTT222</p>
                            </div>
                            <div class="product-price">
                                <p class="price">₫19.000</p>
                                <p>Đã bán <span>136.1k</span></p>
                            </div>
                        </a>
                        <div class="see-more">
                            <p>Tìm sản phẩm tương tự</p>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-8-9.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Bông tẩy trang 222 miếng Lameila BTT222</p>
                            </div>
                            <div class="product-price">
                                <p class="price">₫19.000</p>
                                <p>Đã bán <span>136.1k</span></p>
                            </div>
                        </a>
                        <div class="see-more">
                            <p>Tìm sản phẩm tương tự</p>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-8-10.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Bông tẩy trang 222 miếng Lameila BTT222</p>
                            </div>
                            <div class="product-price">
                                <p class="price">₫19.000</p>
                                <p>Đã bán <span>136.1k</span></p>
                            </div>
                        </a>
                        <div class="see-more">
                            <p>Tìm sản phẩm tương tự</p>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-8-11.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Bông tẩy trang 222 miếng Lameila BTT222</p>
                            </div>
                            <div class="product-price">
                                <p class="price">₫19.000</p>
                                <p>Đã bán <span>136.1k</span></p>
                            </div>
                        </a>
                        <div class="see-more">
                            <p>Tìm sản phẩm tương tự</p>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <div class="product-image">
                                <img src="/images/cate-8-12.jpg" alt="">
                            </div>
                            <div class="product-name">
                                <p>Bông tẩy trang 222 miếng Lameila BTT222</p>
                            </div>
                            <div class="product-price">
                                <p class="price">₫19.000</p>
                                <p>Đã bán <span>136.1k</span></p>
                            </div>
                        </a>
                        <div class="see-more">
                            <p>Tìm sản phẩm tương tự</p>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="btn-see-more">
                <a href="">Xem thêm</a>
            </div>

        </div>
        <div class="container-fluid categories-9">
            <div class="container">
                <div class="paragraph">
                    <h6>SHOPEE - MUA SẮM VÀ BÁN HÀNG ONLINE ĐƠN GIẢN, NHANH CHÓNG VÀ AN TOÀN</h6>
                    <p>Nếu bạn đang tìm kiếm một trang web để mua và bán hàng trực tuyến thì Shopee.vn là một sự lựa chọn hiệu quả dành cho bạn. Bản chất của Shopee là một social ecommerce platform - nền tảng trang web thương mại điện tử tích hợp mạng xã hội. Điều này cho phép người mua và người bán hàng dễ dàng tương tác, trao đổi thông tin về sản phẩm và chương trình khuyến mãi của shop. Nhờ nền tảng đó, việc mua bán trên Shopee trở nên nhanh chóng và đơn giản hơn. Bạn có thể trò chuyện trực tiếp với nhà bán hàng để hỏi trực tiếp về mặt hàng cần mua. Còn nếu bạn muốn tìm mua những dòng sản phẩm chính hãng, uy tín, Shopee Mall chính là sự lựa chọn lí tưởng dành cho bạn. Đến với Shopee, cơ hội để trở thành một nhà bán hàng dễ dàng hơn bao giờ hết. Chỉ với vài thao tác trên ứng dụng, bạn đã có thể đăng bán ngay những sản phẩm của mình. Không những thế, các nhà bán hàng có thể tùy chọn các tính năng “Shop tạm nghỉ” hoặc tự tạo riêng cho mình một chương trình khuyến mãi để thu hút người mua với những sản phẩm có mức giá hấp dẫn. Khi đăng nhập tại Shopee Kênh người bán, bạn có thể dễ dàng phân loại sản phẩm, theo dõi đơn hàng, chăm sóc khách hàng và cập nhập ngay các hoạt động của shop.</p>
                </div>
                <div class="paragraph">
                    <h6>TẢI ỨNG DỤNG SHOPEE NGAY ĐỂ MUA BÁN ONLINE MỌI LÚC, MỌI NƠI</h6>
                    <p>Ưu điểm của ứng dụng Shopee là cho phép bạn mua và bán hàng mọi lúc, mọi nơi. Bạn có thể tải ứng dụng Shopee cũng như đăng sản phẩm bán hàng miễn phí mà không phải chịu bất kỳ một khoản phí hoa hồng nào. Ngoài ra, ứng dụng Shopee còn có những ưu điểm sau: - Giao diện thân thiện, đơn giản, dễ sử dụng. Bạn sẽ dễ dàng thấy được ngay những sản phẩm nổi bật cũng như dễ dàng tìm đến các ô tìm kiếm, giỏ hàng hoặc tính năng chat liền tay. - Ứng dụng tích hợp công nghệ quản lý đơn mua và bán hàng tiện lợi trên cùng một tài khoản. Bạn sẽ vừa là người mua hàng, vừa là người bán hàng rất linh hoạt, dễ dàng. - Cập nhập thông tin khuyến mãi, Shopee flash sale nhanh chóng và liên tục. Tại Shopee, bạn có thể lấy các mã khuyến mãi, mã giảm giá Shopee và mã miễn phí vận chuyển toàn quốc. Bên cạnh đó, Shopee cũng sẽ có những chiến dịch khuyến mãi lớn hằng năm như Shopee 9.9 sale, Shopee 10.10 sale, Shopee 11.11 sale, Shopee 12.12 sale, Shopee Tết Sale. Đây là thời điểm để người mua hàng có thể nhanh tay chọn ngay cho mình những mặt hàng ưa thích với mức giá giảm kỉ lục.</p>
                </div>
                <div class="paragraph">
                    <h6>MUA HÀNG CHÍNH HÃNG TỪ CÁC THƯƠNG HIỆU LỚN VỚI SHOPEE</h6>
                    <p>Mua hàng trên Shopee luôn là một trải nghiệm ấn tượng. Dù bạn đang có nhu cầu mua bất kỳ mặt hàng thời trang nam, thời trang nữ, đồng hồ, điện thoại, nước rửa tay khô hay khẩu trang N95 thì Shopee cũng sẽ đảm bảo cung cấp cho bạn những sản phẩm ưng ý. Bên cạnh đó, Shopee cũng có sự tham gia của các thương hiệu hàng đầu thế giới ở đa dạng nhiều lĩnh vực khác nhau. Trong đó có thể kể đến Samsung, OPPO, Xiaomi, Innisfree, Unilever, P&G, Biti’s,...Các thương hiệu này hiện cũng đã có cửa hàng chính thức trên Shopee Mall với hàng trăm mặt hàng chính hãng, được cập nhập liên tục. Là một kênh bán hàng uy tín, Shopee luôn cam kết mang lại cho khách hàng những trải nghiệm mua sắm online giá rẻ, an toàn và tin cậy. Mọi thông tin về người bán và người mua đều được bảo mật tuyệt đối. Các hoạt động giao dịch thanh toán tại Shopee luôn được đảm bảo diễn ra nhanh chóng, an toàn. Một vấn đề nữa khiến cho các khách hàng luôn quan tâm đó chính là mua hàng trên Shopee có đảm bảo không. Shopee luôn cam kết mọi sản phẩm trên Shopee, đặc biệt là Shopee Mall đều là những sản phẩm chính hãng, đầy đủ tem nhãn, bảo hành từ nhà bán hàng. Ngoài ra, Shopee bảo vệ người mua và người bán bằng cách giữ số tiền giao dịch đến khi người mua xác nhận đồng ý với đơn hàng và không có yêu cầu khiếu nại, trả hàng hay hoàn tiền nào. Thanh toán sau đó sẽ được chuyển đến cho người bán. Đến với Shopee ngay hôm nay để mua hàng online giá rẻ và trải nghiệm dịch vụ chăm sóc khách hàng tuyệt vời tại đây. Đặc biệt khi mua sắm trên Shopee Mall, bạn sẽ được miễn phí vận chuyển, giao hàng tận nơi và 7 ngày miễn phí trả hàng. Ngoài ra, khách hàng có thể sử dụng Shopee Xu để đổi lấy mã giảm giá có giá trị cao và voucher dịch vụ hấp dẫn. Tiếp đến là Shopee Mum's Club với các ưu đãi độc quyền từ các thương hiệu lớn như Enfa; Friso; Pampers...cho các mẹ bỉm sữa đăng ký làm thành viên. Hãy truy cập ngay Shopee.vn hoặc tải ngay ứng dụng Shopee về điện thoại ngay hôm nay!</p>
                </div>
            </div>
        </div>

        <!-- <div class="categories-10">
            <div class="title">
                <p>Danh mục</p>
            </div>
            <div class="tag">
                <div class="tag-item"></div>
            </div>
        </div> -->
    </div>

    <div class="footer container-fluid">
        <div class="footer-layout container">
            <div class="footer-item">
                <p>CHĂM SÓC KHÁCH HÀNG</p>
                <a href="">Trang Tâm Trợ Giúp</a>
                <a href="">Shopee Blog</a>
                <a href="">Shopee Mall</a>
                <a href="">Hướng Dẫn Mua Hàng</a>
                <a href="">Thanh Toán</a>
                <a href="">Shopee Xu</a>
                <a href="">Vận Chuyển</a>
                <a href="">Trả Hàng & Hoàn Tiền</a>
                <a href="">Chăm Sóc Khách Hàng</a>
                <a href="">Chính Sách Bảo Hành</a>
            </div>
            <div class="footer-item">
                <p>VỀ SHOPEE</p>
                <a href="">Giới Thiệu Về Shopee Việt Nam</a>
                <a href="">Tuyển Dụng</a>
                <a href="">Điều Khoản Shopee</a>
                <a href="">Chính Sách bảo mật</a>
                <a href="">Chính Hãng</a>
                <a href="">Kênh Người Bán</a>
                <a href="">Flash Sales</a>
                <a href="">Chương Trình Tiếp Thị Liên Kết Shopee</a>
                <a href="">Liên Hệ Với Truyền Thông</a>
            </div>
            <div class="footer-item item-3">
                <p>THANH TOÁN</p>
                <ul>
                    <li>
                        <div class="image-card"></div>
                    </li>
                    <li>
                        <div class="image-card"></div>
                    </li>
                    <li>
                        <div class="image-card"></div>
                    </li>
                    <li>
                        <div class="image-card"></div>
                    </li>
                    <li>
                        <div class="image-card"></div>
                    </li>
                    <li>
                        <div class="image-card"></div>
                    </li>
                    <li>
                        <div class="image-card image-card-special"></div>
                    </li>
                </ul>
            </div>
            <div class="footer-item">
                <p>THEO DÕI CHÚNG TÔI TRÊN</p>
                <a href=""><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
                <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i> LinkdIn</a>
            </div>
            <div class="footer-item">
                <p>TẢI ỨNG DỤNG SHOPEE NGAY THÔI</p>
                <div class="image-down">
                    <div class="left">
                        <a href=""><img src="/images/qr.jpg" alt=""></a>
                    </div>
                    <div class="right">
                        <div class="top">
                            <a href=""><img src="/images/apple.jpg" alt=""></a>
                        </div>
                        <div class="down">
                            <a href=""><img src="/images/chplay.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/scripts') %>
</body>

</html>