/* img{
    width: 100px;
    height: 100px;
}

.content-product-all .image{

}

.content-product-all .image .image-item{
    position: relative;
}

input[type='file']{
    position: absolute;
    width: 100%;
    background-color: aqua;
    height: 100%;
    top: 0;
    opacity: 1;
    z-index: 1000;
}

input[type='submit']{
    position: absolute;
    bottom: -50%;
}

form{
    position: relative;
}

label{
    position: static;
}
<% type.forEach(item => { %>
    <option><%= item.TypeProduct_Name %></option>
<% }) %> */